p, h1, h2, h3{
  font-family: Helvetica;
}
h2{
  font-size: 32px;
  font-weight: bold;
  color: white;
}
h1{
  font-size: 100px;
  font-weight: bold;
  color:khaki;
  text-align: center;
}
.brushes h2{
  background-color: mediumspringgreen;
}
.frames h2{
  background-color: lightcoral;
}
.paint h2{
  font-family: Helvetica;
  background-color: skyblue;
}
.price{
  font-weight: bold;
  color:blue;
}
.heading {
    background-image: url("../img/pattern.jpeg");
    background-color: #CCCCCC;
    background-position: center;
    background-repeat: no-repeat;
}
.brush{
  background-image: url("../img/hacksaw.jpeg");
  background-color: seagreen;
  background-position: left;
  background-size: cover;
  width: 400px;
  height: 400px;
}
